@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@formio/js/dist/formio.full.min.css";
@import "bootstrap-italia/dist/css/bootstrap-italia.min.css";

@import "index.css";

.App {
  font-family: sans-serif;
}


.form-group label {
  z-index: 0;
}

.formcomponent.drag-copy{
  width: 100%;
}
.form-group label {
  transform: translateY(-75%);
  font-weight: 600;
  font-size: .875rem;
  color: #1a1a1a;
}

.form-group {
  margin-bottom: 0;
}

.pagebreak-container {
  margin: .1em;
  .pagebreak-component {
    border: 2px dashed #ddd;
    color: #aaa;
    padding: .5em 0;
  }
}

label.radio{
  top: -22px;
}

textarea{
  overflow: auto;
  resize: vertical;
  border: 1px solid #5c6f82;
  height: auto;
}

.fileSelector {
  position: relative;
  padding: 15px;
  border: 2px dashed #ddd;
  text-align: center;
}


